body {
    background-color: DarkGray;
}
h1 {
    text-align:center;
    color: black;
}
footer p {
    text-align:center;

    color: black;
}

body  {
    display: block;
    width: 50%;
	margin-left: auto;
    margin-right: auto;
    color: black;
}

.header  {
    display: block;
 
	margin-left: auto;
    margin-right: auto;
    color: black;
}

.video{
    //border:1px solid #ccc;
    //border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.video li{
    display:inline;
}
.video a{
    display:inline-block;
    padding:10px;
}

